body{
    padding: 0;
    margin: 0;
    border: 0;
}
h2, footer > a, .p_h{
    font-family: Formula1;
}
a, p{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-wrap: wrap;
    background-color: #CC4D4D;
}
header{
    display: flex;
    flex-basis: 100%;
    background: #c42f2f;
    justify-content: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 89%;
    padding: 1rem ;
}
aside{
    display: flex;
    flex-basis: 5%;
    background: #c42f2f;
    flex-direction: column;
    padding: 1rem;
}

.p_h{
    display: flex;
    font-size: 1.3vw;
    background: #c42f2f;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: center;
    color: #D9D9D9;
    padding-bottom: 1rem;
}
article{
    border-radius: 15px;
}
h1{
    display: flex;
    flex-basis: 98%;
    justify-content: center;
    background-color: #D9D9D9;
    border-radius: 15px;
    height: 6rem;
    align-items: center;
    font-size: 50px;
    color: #CC4D4D;
}
h2{
    display: flex;
    flex-basis: 100%;
    border-radius: 5px;
    background: #c42f2f;
    color: #D9D9D9;
    justify-content: center;
    align-items: center;
    margin: 0;
}
footer{
    display: flex;
    flex-basis: 100%;
    background: #400303;
    justify-content: center;
    align-items: center;
    height: 2rem;
    font-size: 1.3vw;
    color: #D9D9D9;
}
.art1{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 30%;
    background-color: #D9D9D9;
    margin: 1rem;
    height: auto;
}
.art2{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;
    background-color: #D9D9D9;
    height: 24rem;
    align-self: center;
}
.art3{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 55%;
    background-color: #D9D9D9;
    width: 10rem;
    height: auto;
    margin: 1rem;
}
.ferrari{
    display: flex;
    border-radius: 5%;
    margin: 1rem;
    width: 28rem;
    height: 21rem;
    align-self: center;
}
.art_ferrari{
    display: flex;
    flex-basis: 33%;
    justify-content: center;
}

.bolid{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 40%;
    width: 1rem;
    height: 21rem;
    margin: 1rem;
    border-radius: 15px;
}
.leclerc{
    display: flex;
    width: 20rem;
    border-radius: 15px;
    align-items: center;
    margin: 1rem;
}
.kierowcy{
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: #D9D9D9;
    padding: 1rem;
    gap: 2rem;
    justify-content: center;
}
.art5{
    display: flex;
    flex-wrap: wrap;
    background-color: #695F5F;
    flex-basis: 46%;
    justify-content: center;
}
p{
    font-size: 1.3vw;
    margin: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.sainz{
    display: flex;
    width: 20rem;
    border-radius: 15px;
    margin: 1rem;
}
.art6{
    display: flex;
    flex-wrap: wrap;
    background-color: #695F5F;
    flex-basis: 50%;
    justify-content: center;
}
.zdjecia{
    display: flex;
    width: 6rem;
    scale: 100%;
    flex-wrap: wrap;
    gap: 100px;
}
.pArt5{
    display: flex;
    border-radius: 5px;
    margin: 1rem;
    color: #D9D9D9;
}
.pArt6{
    display: flex;
    border-radius: 5px;
    margin: 1rem;
    color: #D9D9D9;
}
.cus{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    background: #c42f2f;
    justify-content: center;
}
a{
    font-size: 1.3vw;
}
.lefty{
    display: flex;
    flex-basis: 20%;
    padding-left: 1rem;
}
.righty{
    display: flex;
    padding-left: 7rem;
    padding-right: 2rem;
    
}
.center{
    display: flex;
    flex-basis: 80%;
    justify-content: center;
}
.zdj{
    border-radius: 15px;
}
a:hover{
    scale: 110%;
}
footer > a{
    text-decoration: none;
    color: #D9D9D9;
}