*{
    background-color: #920000;
}
main{
    height: 50rem;
    background-color: #d83d3d;
    border-radius: 15px;
    align-items: center;
    margin: 0.5rem;
}
footer{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    height: 2rem;
    color: #D9D9D9;
}
footer > a{
    font-family: Formula1;
}
.lefty{
    display: flex;
    flex-basis: 20%;
    padding-left: 1rem;
    text-decoration: none;
    color: white;
}
.center{
    display: flex;
    flex-basis: 80%;
    padding-left: 25%;
}
h1{
    background-color: white;
    padding-top: 10px;
    text-align: center;
    font-size: 1.5vw;
    font-family: Formula1;
    height: 3rem;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    background-color: #fff;
    width: 30%;
    margin-left: 12%;
    margin-top: 1rem;
    font-size: 1.3vw;
    padding: 1vw;
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
    align-self: center;

}
textarea{
    background-color: #fff;
    width: 76%;
    margin-left: 12%;
    font-size: 1.3vw;
    border-radius: 10px;
    border: none;
    margin-top: 2rem;
    height: 50%;
}
input:focus-within{
    outline: none;
}
textarea:focus-within{
    outline: none;
}
button{
    display: flex;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    font-size: 1.3vw;
    border: none;
    margin-top: 1rem;
}
button:hover{
    scale: 120%;
    cursor: pointer;
}