/* #grid-item{
    font-weight: 800; 
    font-size: 20px; 
} */
*{
    box-sizing: border-box;
    font-size: 25px;
}
img{
    border-radius: 15px;
}
header{
    /* display: grid; */
    display: flex;
    flex-basis: 100%;
    background: #953333;
    /* grid-area: header; */
    justify-content: center;
}
h1{
    display: flex;
    flex-basis: 90%;
    justify-content: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #CC4D4D;
    flex-basis: 90%;
    padding: 25px;
}
aside{
    display: flex;
    flex-basis: 10%;
    background: #710E0E;
    flex-direction: column;
    /* grid-area: aside; */
}
footer{
    /* display: grid; */
    display: flex;
    flex-basis: 100%;
    background: #400303;
    /* grid-area: footer; */
    justify-content: center;
    font-size: 35px;
    color: #D9D9D9;
}
.logoF1{
    display: flex;
    flex-basis: 38%;
    width: 40%;
    height: 23%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    background-color: #CC4D4D;
    /* flex-direction: row-reverse; */
    /* display: grid; */
    
    /* flex-basis: 100%; */
    
    /* grid-template-columns: 1fr 4fr 4fr;
    grid-template-rows: 1fr 14fr 1fr;
    grid-template-areas: 
    "header header header"
    "aside main right_main"
    "aside main right_main"
    "footer footer footer"; */
}
.art1{
    background-color: #D9D9D9;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 60%;
    justify-content: flex-start;
    border-radius: 15px;
    height: 260px;
}
.art3{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 20%;
    background-color: #D9D9D9;
    border-radius: 15px;
}
.zdjecia{
    display: flex;
    scale: 100%;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
p{
    background-color: #D9D9D9;
    border-radius: 5px;
}
h1{
    background-color: #D9D9D9;
    border-radius: 15px;
}
h2{
    display: flex;
    flex-basis: 100%;
    height: 40px;
    background-color: #7987a6;
    border-radius: 2px;
    justify-content: center;
}
.favTrasy{
    display: flex;
    flex-wrap: wrap;
    /* flex-basis: 20%; */
    background-color: #D9D9D9;
    border-radius: 25px;
}
.spa{
    display: flex;
    flex-wrap: wrap;
    /* flex-basis: 49%;
    width: 10%;
    height: 20%; */
}
.monaco{
    display: flex;
    flex-wrap: wrap;
    /* flex-basis: 49%;
    width: 40%;
    height: 20%; */
}
.trasy{
    display: flex;
    background-color: #D9D9D9;
    flex-wrap: wrap;
    /* grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "spa monaco"
    "test1 tekst2"; */
}

.winton{
    scale: 5%;
}

